

@media (max-width: 1070px) {
.cs-courses.listing-view.list-2 article .price {float: left; display: block; width: 100%; margin-top: 22px;}
.cs-document-list li{width:220px;}
.cs-thumb-post{display:block;width:auto;float:none;overflow:hidden;}
.cs-custom-add p {margin: 0px 0px 8px 0px;}
.newsletter-from input[type="email"]{ width:294px; }
.rtl .cs-custom-add figcaption h4{ font-size: 16px; }
.rtl .cs-custom-add figcaption p{ font-size: 12px; }
.rtl .medium-news article figure ~ .news-info {padding: 17px 361px 0px 17px;}
}
/*============  Media 768Px Start ============ */ 
@media (min-width: 768px) and (max-width: 990px) {

	.cs-document-list li{width:233px;}
	.medium-news article figure ~ .news-info { padding: 25px 25px 20px 368px;}
	.wrapper_boxed .navigation{width:100%;}
  .top-nav ul{ text-align: center !important; margin-bottom: 10px; }
  .content-rt.col-md-3, .container, .element-size-75, .main-section .page-content, .main-section .page-content ~ .page-sidebar, .col-md-12, .wrapper.wrapper_boxed, .page-sidebar, .page-content, .col-md-8 {width: 100% !important;}
  .main-section .col-md-3.left-sec { width: 33.33% !important;}
  .col-md-2 { width: 33.33%;}
  .col-md-5, .col-md-7, .col-md-6, .col-md-4, .col-md-3, .element-size-25, .element-size-33, .element-size-67{width: 50% !important;}
  .page-sidebar .widget{width: 45%; margin: 0 15px 30px 15px;}
  .main-banner .flex-direction-nav .flex-prev, .cs-gallery-slider .flex-direction-nav .flex-prev{ left: auto; right: 65px;}
  .main-banner .flexslider .flex-direction-nav a, .main-banner .flexslider .flex-pauseplay, .cs-gallery-slider .flexslider .flex-direction-nav a, .cs-gallery-slider .flexslider .flex-pauseplay{bottom: 136px;}
  .wrapper.wrapper_boxed{overflow: hidden;}
    /* Footer STyle*/
   .widget .gallery-list img{width: 100%;}
   .newsletter-section .newsletter-from input[type="text"]{width: 345px;}
   .newsletter-section span.newsletter-title{padding: 8px 10px 0 0;}
    #main-header .top-nav ul li a img{ margin-right: 5px; }
    /* news ticker STyle*/
   .news-ticker .slides{width: 80%;}
   .main-content .medium-news article figure{width: 100% !important;}
   .main-content .medium-news article figure ~ .news-info{padding: 15px 25px 10px 10px; float: left;}
    body .news-ticker ul li time{padding: 0 0 0 17px;}
	
	
	.fixed {
		background:  none ;
		box-shadow:none;
		margin: 0 0;
		padding: 0 0;
		position: relative;
		top: 0;
		z-index: 9999;
		border:0px;
	}
	
	
    /* ============ Blog STyle ============ */
   .main-section .cs-blog h2{font-size: 20px;margin-top:0;}
   .main-section .cs-blog-masnery article .cs-media figure, .main-section .under-wrapp{width: 100%;}
    /*  Main Header STyle*/
   #main-header .top-nav, #main-header .header-search{width: 100%; float: left; text-align: center;}
   #main-header .top-nav{margin-bottom: 5px;}
   #main-header .header-search form{width: 50%; margin: -6px 0 10px 0; display: inline-block; float: none;}
   #main-header .header-search input[type="text"]{width: 80%;}
   #main-header .header-search label{right: 2px; top: 1px;}
   .header-search label::before{top:9px;}
   .promo-box{ margin-bottom: 20px; }

   
   
   #main-header .right-side{width: 100%;float: left; padding: 0; margin-bottom: 20px;}
   #main-header .top-nav ul li, .rtl #main-header .top-nav ul li{margin-bottom: 0px; float: none; display: inline-block;}
   #main-header .logo{margin-bottom: 5px!important;}
   #main-header .top-nav ul li a{padding: 2px 7px 5px;}
   #main-header .header-search span{float: none;}
     /*  Event STyle*/
   .main-content .fc-event{font-size: 8px;}
   .main-content .fc-toolbar .fc-left{position: relative; z-index: 999;}
   .main-content .fc-view-container{padding-left: 40px;}
   .main-content .fc-center > h2{font-size: 30px;}
   .main-content .get-enrole-button{float: left;}
   .main-content .image-frame.frame-plane section{float: left;}
   .main-content .image-frame.frame-plane figure, .main-content .mejs-container, 
   .main-section .mejs-container, .main-section .image-frame.frame-plane figure{width: 100%!important;}
   .main-section .team-grid .thumbnail a > img{width: 100%!important; max-width: auto;}
   .call-actions.ac-classic{padding:30px 15px 30px 30px }
   .main-content .cs-course-table .content .title-bar > ul > li:last-child{width: 4%;}
   .cs-course-table .content .title-bar > ul > li:first-child{font-size: 14px; width: 56%;}
   .main-content .team-grid .overlayslide-team > a img{width: 100%;}
   .main-section .image-frame.frame-plane .mejs-overlay{width: 100% !important; top: -25px;}
   .main-section .call-actions .cell.call-btn{margin: 0px;}
   .main-section .pricing-area, .main-section .pricing-area [class*="col-md"] {margin: 0px;}
   #main-header .top-nav{background: none!important;}
   .main-section .medium-news article figure ~ .news-info{float: left; padding: 25px 25px 25px 10px;}
   .main-section .cs-gallery-nav li::before{top:-9px;}
   .main-section .cs-gallery-nav li a{font-size: 9px !important;}
   .main-section .element-size-67 .cs-gallery ul li{width: 100% !important;}
   .widget.element-size-100.widget_tabs{width: 100%;}
   .cs-search-area > form {float: left; margin: 0 0 30px;}
   .main-section .fc-view-container{width: 82%;}
  .newsletter-section .footer-logo{float: none; display: inline-block;}
  .newsletter-section{text-align: center;}
  .rtl .listing-view.list-2 article .course-tags{position: relative; }
  .rtl .cs-courses.listing-view .course-info li{padding: 0 12px 0 10px;}
  .main-section .cs-course-detail .cs-features li{min-width: 246px;}
  .main-section .event-editor .socialmedia ul{left: 40px;}
  .medium-news article figure{width: 100%;}
  .question-mark p::before{left: -20px;}
  .question-mark p::after{right: 25px;}



}
@media (max-width: 1000px) {
  .navigation ul > li  .sub-dropdown{
    opacity: 1;
    visibility: visible;
    position: static;
   }
   .fixed {
		background:  none ;
		box-shadow:none;
		margin: 0 0;
		padding: 0 0;
		position: relative;
		top: 0;
		z-index: 9999;
		border:0px;
	}
   
   .responsive-btn{ display: block; float: right; position: relative; z-index: 1;}
    .navigation ul > li{float: left;width: 100%;}
    .navigation ul > li:hover > a{background: none; }
    .sub-dropdown::before, .sub-dropdown::after{display: none;}
    .sub-dropdown{box-shadow: none; width: 100%; float: left; margin: -14px 0 20px 0px;}
    .responsive-btn i{float:right; color: #fff;padding: 13px 10px 0 0; cursor: pointer;}
    .navigation ul > li > a{padding: 4px 10px; float: none; display: block; width: 100%;}
    .navigation ul > li > a{border-right: none;}
    .navigation ul > li:hover > .sub-dropdown {
      opacity: 1;
      visibility: visible;
      -webkit-transform: translateY(15px);
         -moz-transform: translateY(15px);
          -ms-transform: translateY(15px);
           -o-transform: translateY(15px);
              transform: translateY(15px);
    }
    .sub-dropdown .responsive-btn i{ color: #000; }
    .navigation ul > li:hover > .responsive-btn i{ color: #fff; }
    .cs-click-menu{display: block;}
    .navigation .cs-click-menu{
      width: 50px; 
      height: 50px; 
      color: #fff; 
      text-align: center; 
      line-height: 54px; 
      background-color: #08387f;
      font-size: 20px;
    }
    #main-header .main-nav{background:none !important;}
    #main-header .navigation > ul{background-color: #08387f; float: left;}
    .rtl #main-header .navigation > ul{float: none;}
    /*.parentIcon.active{background-color: #fff;}
    .parentIcon.active a, .parentIcon.active:hover a{color: #2c2c2c;}*/
    .navigation .sub-dropdown li a{
      font-size: 12px;
      display: block;
      float: none;
      width: 100%;
    }
    #main-header .navigation > ul{display: none;}
    #main-header{text-align: center;}
    #main-header .main-nav{text-align: left;}
    .main-section .comment-respond, .main-section .cs-plain-form .form-style{margin-bottom: 30px;}
  
   .rtl .newsletter-section span.newsletter-title {padding: 8px 0 0 29px;}
   .rtl .activedetail .media .media-left {float: right;}
}
/*============ Media 420Px Start ============ */
@media (max-width: 767px) {
.overlayslide-team{margin-right:15px;}	
  .cs-course-detail .cs-features li{min-width:50%;}	
  .cs-detail-area .address-box .price-box{margin-right:10px;}
  .top-nav ul{ text-align: center;}
  .rtl .top-nav ul{ text-align: center !important; }
  .element-size-50,
  .element-size-33,
  .element-size-75,
  .element-size-67,
  .page-content,
  .page-sidebar, 
  .page-sidebar ~ .page-content,
  .element-size-100 .col-md-12,
  .element-size-75 .col-md-12,
  .element-size-67 .col-md-12,
  .element-size-50 .col-md-12,
  .element-size-25 .col-md-12,
  .element-size-33 .col-md-12,
  .col-md-12, .page-content, footer [class*="col-md-"], .col-md-6, .col-md-9, .container, .wrapper.wrapper_boxed, .page-sidebar { width: 100% !important; }
  .col-md-4, .col-md-3, .col-md-2, .element-size-25{width: 50%!important;}
  .wrapper.wrapper_boxed{overflow: hidden;}
  /* Slider STyle*/
   .main-banner .slider-caption h1, .main-banner .slider-caption p, .cs-gallery-slider .slider-caption h1, .cs-gallery-slider .slider-caption p{width:70%;}
   .main-banner .flex-direction-nav .flex-prev, .cs-gallery-slider .flex-direction-nav .flex-prev{ left: auto; right: 65px;}
   .main-banner .flexslider .flex-direction-nav a, .main-banner .flexslider .flex-pauseplay, .cs-gallery-slider .flexslider .flex-direction-nav a, .cs-gallery-slider.flexslider .flex-pauseplay{bottom: 150px;}
     /* News Ticker STyle*/
   .news-ticker .slides{width: 100%;}
  .news-ticker ul li time{margin: 0 0 0 15px;}
   .news-ticker .slides{display: inline-block;}
   /* Footer STyle*/
   
   .fixed {
		background:  none ;
		box-shadow:none;
		margin: 0 0;
		padding: 0 0;
		position: relative;
		top: 0;
		z-index: 9999;
		border:0px;
	}
   
   .widget .gallery-list img{width: 100%;}
   .bottom-footer #backtop{left: 50%; top: -84px;}
   .rtl .bottom-footer #backtop{left: 50%;}
   .bottom-footer .social-media h6{margin-bottom: 10px;}
   .bottom-footer .social-media ul li:first-child{margin-left: 0px;}
  .newsletter-section span.newsletter-title{padding: 8px 0px 10px 0; float: none; display: inline-block;}
  .newsletter-from input[type="text"]{width: 450px; margin-bottom: 10px;}
  .newsletter-section{text-align: center;}
  .footer-logo{float: none !important; text-align: center;}
  .newsletter-from input[type="submit"]{float: none; display: inline-block;}
   .main-section .comment-respond, .main-section .cs-plain-form .form-style{margin-bottom: 30px;}
   /* Home Page STyle*/
  .newsletter-section .footer-logo{float: none; display: inline-block;}
  .newsletter-section{text-align: center;}

   .main-content .medium-news article figure{width: 100% !important;}
   .main-content .medium-news article figure ~ .news-info{padding: 15px 25px 10px 10px; float: left;}
   #main-header .top-nav{background: none!important;}

   /* ============ Blog STyle ============ */
   .main-section .page-content .page-section .container{padding-left: 15px;}
   .main-section .cs-blog h2{font-size: 20px !important;}
   .main-section .cs-thumb-post ul li{margin: 0 15px 10px 0;}
   .main-section .page-content ~ .page-sidebar{padding-left: 15px;}
   .main-section .cs-blog .cs-comments{margin: 0px 10px 20px 0;}
   .main-section .cs-blog .blog-bottom-sec{padding: 20px 0 0;}
   .main-section .cs-blog article .cs-media figure{width: 100%;}
   .main-section .cs-blog-medium .cs-media{width: 100%; margin-bottom: 15px;}
   .main-section .cs-blog-medium .blog-info-sec{padding: 0px; float: left;}
   .main-section .thumblist figure{margin: 0;}
   blockquote{float: none;}
   .main-section .thumblist .cs-text-box p{display: inline-block;}
   .main-section #cs-comments .li-comment:nth-child(2n){padding: 35px 22px 0;}
    /* pagination STyle*/
   .main-section .pagination li a{font-size: 14px;}
   .main-section .pagination li{margin:0px;}
   .main-section .pagination li a{padding: 6px;}
   .main-section .cs-blog article{margin-bottom: 20px;}
   /* Services STyle*/
   .main-section .cs-testimonial, .main-section .cs-twitter-section, .main-section .flexslider.cs-twitter-slider{width: 100%;}
   .main-section .cs-filter-menu li .slect-area{margin: 0px 0 0px 10px;}
   /* Defulte pages STyle*/
   .main-section .page-not-found, .main-section .under-wrapp{width: 100%;}
   .main-section .page-no-search .cs-search-area input[type="text"]{width: 300px;}
   .main-content .cs-filterable .cs-sort select{width: 155px;}
   .main-content .cs-filterable .cs-sort li{margin: 0 6px 5px 0;}
  .main-content  .cs-courses.listing-view article .cs-text{overflow: inherit; float: left; padding: 10px 0px 0 10px;}
  .main-content  .cs-courses.listing-view.list-2 article .cs-text{overflow: inherit; float: left; padding: 10px 20px 0 10px;}
  .main-content .cs-courses.listing-view .course-info li{padding: 0 9px 0 12px;}
  .main-content .cs-detail-area .detail-block{padding: 10px 0 0 20px; overflow: inherit; float: left; width: 100%;}
  .main-content .page-content{padding: 0 15px;}
  .main-content .cs-course-table .content .title-bar > ul{overflow: hidden;}
  .main-content .cs-course-table .content .title-bar > ul > li{width: 22%;  margin: 0 0 -9999px; padding: 0 10px 9999px;}
  .main-content .cs-course-table .content .title-bar > ul > li:last-child{width: 12%;}
  .cs-course-detail .cs-detail-text, .cs-course-detail .cs-features{float: left;}
  .cs-course-detail .cs-detail-area .address-box{margin-bottom: 10px;}
  .cs-tabs .tab-nav li{font-size: 13px;}
  .cs-tabs .tab-nav li a,  .main-section .cs-tabs.box .nav-tabs li a{padding: 15px 10px;}
  .main-section .cs-tabs.box .nav-tabs li a{font-size: 11px;}
  .call-actions.ac-classic{padding:30px 15px 15px 30px }
   .call-actions.ac-classic .cell.call-btn{margin: 15px 0 10px 0;}
   .main-content .cs-course-table .content .title-bar > ul > li:first-child{width: 45%;}
   /*  Main Header STyle*/
   #main-header .top-nav ul li a{padding: 2px 9px 5px;}
   #main-header .logo{margin-bottom: 5px !important; float: none; display: inline-block;}
   #main-header .top-nav ul li{margin-bottom: 0px;}
   #main-header .header-search form{margin-bottom: 5px;}
   .right-side .header-search{float: left; width: 100%; text-align: center;}
   #main-header .right-side{text-align: center; padding-top: 0px; margin-bottom: 10px;}
   #main-header .right-side .top-nav ul li, #main-header .right-side .header-search span{display: inline-block; float: none;}
   #main-header .header-search label input[type="submit"]{height: 34px;}
   #main-header .main-nav{text-align: left; width:100%; overflow:hidden;}
   #main-header .header-search label{top: 2px;}
   #main-header .top-nav ul li a img{ margin-right: 5px; }
   /* Eevent  STyle*/
   .main-section .events-listing .date-time ~ section{padding: 0px; float: left;}
   .cs-events .date-time{margin-bottom: 10px;}
   .main-content .fc-view-container{padding-left: 25px;}
   .main-content .fc-center > h2{font-size: 30px;}
   .main-content .fc-toolbar .fc-left{position: relative; z-index: 999;}
   .main-content .cs-calendar .fc-unthemed .fc-toolbar .fc-button-group{margin: 0px;}
   .main-content .fc-toolbar{width: 87px;}
   .main-content .fc-event{font-size: 9px;}
   .main-content .fc-view-container tbody td{line-height: 1.5;}
   .main-section .events-listing figure{ width: 100%; }
   .main-section .events-listing figure ~ section{padding: 10px 0 0 0; float: left;}
   .main-content .price-one{margin-bottom: 20px;}
   .main-content .get-enrole-button{float: left;}
   .main-content .image-frame.frame-plane figure, .main-content .mejs-container, .main-section .mejs-container, .main-section .image-frame.frame-plane figure{width: 100%!important;}
   .main-section .grid-filter{width: 100%; text-align: center;}
   .main-section .grid-filter li{float: none; display: inline-block;}
   /* Team STyle*/
   .main-section .team-grid .thumbnail a > img{width: 100%!important; max-width: auto;}
   .main-section .filter-nav{text-align: center;}
   .main-section .main-filter .question-btn, .main-section .cs-filter-menu li .sortby, .main-section .cs-filter-menu li .slect-area{display: inline-block; float: none;}
   .main-content .media-middle{display: inline-block; vertical-align: top}
   .main-content .overlayslide-team > a img{width: 100%;}
   .main-section .cs-filter-menu li, .main-section .cs-filter-menu{width: 100%;}
   .main-content .cs-filterable .cs-views{float: left;}
   .main-content .cs-filterable .cs-views li:first-child{margin-left: 0px;}
   .main-section .team-plain .media-body{display: block; margin-top: 15px;width:420px;}
   .main-section .team-plain .media-middle{vertical-align: top;}
   .main-section .image-frame.frame-plane .mejs-overlay, .main-section .alignnone.size-full.wp-image-345{width: 100% !important;}
   #main-header .top-nav {margin-bottom: 15px;}
   .main-section .cs-main-filterable .cs-filter-nav li{margin: 0 6px 5px 0;}
   .main-section .page-no-search .cs-search-area input[type="text"]{ margin-bottom: 10px;}
   .main-section .call-actions .cell.call-btn{margin: 0px;}
   .main-section .plain-with-border.text-background-right { background-size: cover !important;}
   .main-section .pricing-area, .main-section .pricing-area [class*="col-md"] {margin: 0px;}
   .medium-news article figure{ float: left; width:100%; margin: 0 0 10px; }
   .medium-news article figure ~ .news-info{ padding: 10px !important; float: left; }
   footer .bottom-footer{text-align: center;}
   footer .bottom-footer .copyright, footer .bottom-footer .social-media{display: inline-block; float: none !important;}
   .main-section .cs-course-table .content .title-bar > ul > li:first-child{width: 40%;}
   .main-section .cs-courses.listing-view .course-info li{width: 50%; margin-bottom: 15px;float:none;margin-right:-4px;display:inline-block;}
   .main-section .cs-courses.listing-view .course-info figure{margin-right: 7px;}
   .main-section .cs-course-table .content .title-bar > ul > li{line-height: 26px;}
   .main-section .fc-view-container{width: 80%;}
   .main-section .cs-pricing-table table th, .main-section .cs-pricing-table table td{line-height: 1; min-width: 10%;}
   .main-section .cs-detail-area .address-box address{float: left; padding-left: 0px; margin-top: 8px;} 
  .main-section .cs-courses.listing-view.default-courses .cs-text .course-info{margin-right: 0px;}
  .main-section .cs-courses.listing-view article .course-tags li{margin-bottom: 3px;}
  .rtl .cs-courses.listing-view.list-2 article figure ~ .cs-text{position: relative; }
  .main-section .cs-document-list li{width: 47%;}
  .main-section .cs-detail-area figure{width: 100%;}
  .question-mark p{padding: 0 30px;}
  [class*="element-size"]{
	margin-bottom:20px;
}
.newsletter-from input[type="text"]{width:100%;}
.rtl .cs-blog-medium .blog-info-sec {padding: 0;}
.rtl .cs-blog-medium .cs-media {margin-right: 0}

}
@media (max-width: 640px) {
  .newsletter-from {
    padding: 8px 0px 10px 0;
    float: none;
    display: inline-block;
  }
  .newsletter-from i{ top:20px; }
}
/*============ Media 300Px Star ============ */
@media (max-width: 480px) {
	.cs-services.cs-classic.left figure{margin:0 0 10px 0;}	
	.cs-services.cs-classic{margin-bottom:20px !important;}
	.activedetail .media .media-body{width:100%;padding-top:10px;}
   .main-section .team-plain .media-body{width:260px;}	
	.cs-courses.listing-view.list-2 article .price{margin-top:0;}
  .rtl .newsletter-section span.newsletter-title{ margin-bottom: 20px; }
  .rtl .newsletter-from{ float: none; }
  .rtl .newsletter-section .newsletter-from input[type="submit"]{ margin:0; }
  .rtl #main-header .logo{ float: none; }
  /*.page-content { padding: 0; }*/
  .element-size-50,
  .element-size-25,
  .element-size-75,
  .element-size-67,
  .element-size-33,
  .page-content,
  .page-sidebar, 
  .element-size-100 .col-md-12,
  .element-size-75 .col-md-12,
  .element-size-67 .col-md-12,
  .element-size-50 .col-md-12,
  .element-size-25 .col-md-12,
  .element-size-33 .col-md-12, .col-md-12, .main-section 
  .call-actions .cell, .wrapper.wrapper_boxed, .news-ticker .slides, 
  .col-md-6, .col-md-9, .col-md-4, .col-md-3, .col-md-2{ width: 100% !important; }
  /* Slider STyle*/
   .main-banner .flex-direction-nav .flex-prev, .cs-gallery-slider .flex-direction-nav .flex-prev{ left: auto; right: 65px;}
   .main-banner .flexslider .flex-direction-nav a, .main-banner .flexslider .flex-pauseplay, .cs-gallery-slider .flexslider .flex-direction-nav a, .cs-gallery-slider .flexslider .flex-pauseplay{bottom: 20px;}
   .main-banner .slider-caption, .cs-gallery-slider .slider-caption{display: none;}
   .main-content .page-content ~ .page-sidebar{padding-left: 15px;}
   .cs-gallery-nav li:before{display:none;}
   .fixed {
		background:  none ;
		box-shadow:none;
		margin: 0 0;
		padding: 0 0;
		position: relative;
		top: 0;
		z-index: 9999;
		border:0px;
	}
   
   /* Footer STyle*/
   .bottom-footer #backtop{left: 50%; top: auto;transform:translateX(-50%);bottom:100%l}
   .rtl .bottom-footer #backtop{bottom: 226%;margin-left: 5px}
   .newsletter-from input[type="text"]{margin-bottom: 6px; width: 100%; float: none;}
   .newsletter-from input[type="email"]{ width:100%; margin-bottom: 10px; }
   .newsletter-from input[type="submit"]{ width:100%; margin-left: 0;  }
   .newsletter-from{ float: none; }
   /* ============ Blog STyle ============ */
   .main-section .cs-thumb-post{width: 100%;float:none;}
   .main-section .cs-blog .cs-comments{margin: 0px 10px 20px 0;}
   .main-section .cs-blog .blog-bottom-sec{padding: 20px 0 0;}
   .main-section .cs-blog-editor .cs-heading-sec .inner-sec h1{font-size: 20px;}
   .main-section .cs-post-panel{float: left;padding: 0px;}
   .main-section .cs-blog-editor .date-time{margin-bottom: 15px;}
   .main-section blockquote{font-size: 18px; width: 100%; margin: 26px 0 34px 0;}
   .main-section .thumblist .cs-text-box p{display: inline-block;}
   .main-section #cs-comments .li-comment:nth-child(2n){padding: 35px 10px 0;}
   .main-section #cs-comments li .children{padding: 0px;}
   .main-section #cs-comments li .children .thumblist{padding: 10px;}
   .main-section .thumblist .cs-text-box{padding: 0 0 0 77px;}
   .main-section .thumblist figure{margin: 0 15px 0 0;}
   .main-section .cs-plain-form .textaera-sec{width: 100%; position: inherit; padding: 0px;}
   .main-section .cs-plain-form input[type="submit"]{left: 0px; margin-left: 0px;}
   .rtl .cs-plain-form input[type="submit"]{left: 0px; right: auto;}
   .main-section .cs-plain-form label input[type="text"], .main-section .cs-plain-form label input[type="email"]{width: 100%;}
   .main-section .cs-filter-menu li .slect-area{margin: 0px 0 10px 0;}
   .main-section .comment-respond, .main-section .cs-plain-form .form-style{margin-bottom: 30px;}
    /* pagination STyle*/
   .main-section .pagination li a{font-size: 14px;}
   .main-section .pagination li a{padding: 4px;}
   .main-section .pagination li.pgprev img{margin-right: 7px;}
   .main-section .pagination li.pgnext img{margin-left: 7px;}
   .main-section .pagination li{margin:0px;}
   .main-section .cs-filterable .cs-views{float: left;}
     .main-section .cs-document-list li{width: 94%;}
   /* Defulte pages STyle*/
   .main-section .page-not-found h1{font-size: 100px !important;}
   .main-section .under-wrapp .cons-icon-area img{width: 100%;}
   .main-section .under-wrapp .cons-icon-area{margin-bottom: 25px;}
   .main-section .cs-search-results ul li figure ~ .text{float: left;padding: 0px;width:100%;}
   .cs-search-results .text a {width: 100%;word-wrap: break-word;}
   .main-section .page-no-search .cs-search-area input[type="text"]{width: 290px; margin-bottom: 10px;}
   .main-section .page-no-search .cs-search-area label{margin: 0px 0 10px 0;}
   .main-section .nav-tabs > li{width: 100%;}
   .main-section .cs-services.cs-classic .text{overflow: inherit; float: left;}
   .cs-tabs .tab-nav li{width: 100%;}
   .cs-course-detail .cs-features li, .main-content .cs-courses.listing-view .course-info li, .main-content .cs-courses.listing-view .course-info .details, .main-content .cs-course-table .content .cs-courses article > figure{min-width: 100%;}
   .main-content .cs-courses.listing-view .course-info li{border-left: none;}
   .main-content .cs-courses.listing-view .course-info figure, .main-content .cs-courses.listing-view .course-info .details{margin-bottom: 10px;}
   .main-content .cs-courses.listing-view.list-2 article .price{float: left;}
   .main-section .emailinput-outer input{width: 89%;}
   .main-section .form-group{ padding: 0 0 0 15px;}
   .main-section .cs-services.modren > figure ~ .text{padding: 0px; float: left;}
   .main-section .cs-team-slider .social-media-blog ul li{margin-bottom: 5px!important;}
   /* Cs Team STyle*/
   
   
   /* Cs coureses STyle*/
   .main-content .cs-filterable .cs-sort select, .main-content .cs-filterable .cs-sort li{width: 100%;}
   .main-content .cs-filterable .cs-sort li{margin-bottom: 5px;}
   .main-content .cs-courses.listing-view article .cs-text{overflow: inherit; float: left; padding: 10px 20px 20px 10px;}
   .main-content .cs-course-table .head ul li:first-child{width: 39%;}
   .main-content .cs-course-table .head ul li{width: 27%;}
   .main-content .cs-course-table .content .title-bar > ul > li:first-child{width: 40%; font-size: 12px; line-height: 20px;}
   .main-content .cs-course-table .content .title-bar > ul > li{width: 30%; padding: 0 10px; margin: 0px; font-size: 9px;}
   .main-content .graybackground{padding: 30px;}
   .cs-team.team-box .media-left{float: left;}
    /*  Main Header STyle*/
   #main-header .top-nav {margin-bottom: 0px;}
   #main-header .top-nav ul li{margin-bottom: 0px;}
   #main-header .header-search form{margin-bottom: 10px; width: 100%; float: left; margin-top: 10px;}
   #main-header .header-search label {right: 23px; top: 1px;}
   #main-header .top-nav ul li a img{ margin-right: 5px; }
   #main-header .header-search input[type="text"]{width: 71%;}
   .rtl #main-header .header-search label{ left:13px; }
   /* Events STyle*/
   .main-content .fc-view-container{width: 100%;}
   .main-content .fc-toolbar{width: 100%; position: static;}
   .main-content .fc-center > h2 {font-size: 20px;left: -13px; min-width: 400px;top: -67px;transform: rotate(0deg);}
   .main-content .cs-calendar .fc-unthemed .fc-toolbar .fc-button-group{margin-bottom: 10px;}
   .main-content .fc-view-container{padding: 0px;}
   .main-content .fc-view-container .fc-view thead th{font-size: 8px; padding: 5px 8px;}
   .main-content .fc-event{display: none;}
   .main-section .event-editor .socialmedia a{margin: 0 10px 5px 0;}
   .main-content .cs-main-filterable .cs-filter-nav li a{padding: 6px 10px 6px 12px;}
   #portfolio-section .classic-gallery, #portfolio-section .cs-main-filterable{padding-left:15px;}
   .main-content .main-content .cs-main-filterable .cs-filter-nav li{margin-left: 4px;}
   .main-content .mejs-overlay-button, .main-section .mejs-overlay-button{margin: -50px 0 0 -48px;}
   .main-section .events-listing .text{width: 100%; display: block;}
   .main-section .events-listing .right-side{display: block; float: none;}
   .main-section .contactdiv ul li{float: none;}
   .main-section .cs-blog .blog-text{padding: 0 0 0 70px;}
   .rtl .cs-blog .blog-text{padding: 0 70px 0 0;}
   .main-section .flexslider .flex-direction-nav a, .main-section .flexslider .flex-pauseplay{bottom: 10px;}
   .main-section  .cs-course-table .content .title-bar > ul > li:first-child{font-size: 12px; line-height: 18px;}
   .main-section  .cs-course-table .content .title-bar > ul > li{width: 100%; line-height: 26px;}
   .main-section .cs-course-table .content .title-bar > ul > .opener,  .main-section .cs-course-table .content .title-bar > ul > li:first-child{width: 100%; padding: 4px 15px;}
   .main-section .cs-course-table .content .cs-courses article > figure{width: 100%;}
   .main-section .cs-course-table .cs-courses.listing-view article figure ~ .cs-text{padding:20px 0px 0 0; float: left;}
   .main-section .cs-courses.listing-view .course-info li{width: 100%; margin-bottom: 15px;}
   .main-section .cs-course-table .head ul li:first-child{width: 100%;}
   .main-section .cs-course-table .head ul li{width: 100%;}
   .main-section .cs-custom-nav.cs-partner  .owl-nav{right:0px;}
   .main-section .cs-courses.listing-view article .course-tags li{margin-bottom: 3px;}
   .main-section .cs-courses.listing-view article figure ~ .cs-text{padding: 20px 0; float: left;}
   .main-section .cs-courses.listing-view.list-2 article figure ~ .cs-text{padding: 20px 10px;}
   .main-section .cs-courses.listing-view.list-2 .course-info{margin-top: 15px;}
   /*.main-section .fc-toolbar{width: 47px;}
   .main-section .cs-calendar .fc-unthemed .fc-toolbar .fc-button-group{margin-left: 8px;}
   .main-section .fc-center > h2{left: -180px; top: 50px;}
   .main-section .fc button{margin-bottom: 4px!important;}*/
   .main-section .cs-filterable .cs-sort{margin-bottom: 10px !important;}
   .main-section .cs-filterable .cs-views, .main-section .cs-filterable .cs-sort{float: none; display: inline-block;}
   .main-section .cs-filterable{text-align: center;}
   .main-section .cs-social-share li .social-media{width: 208px;}
   .main-section .cs-social-share li .social-media ul li a{margin-bottom: 5px;}
   .main-section .download-btn{position: absolute; bottom: 5px; right: 14px;}
  .slider-caption p{font-size: 9px;}
  .slider-caption h1{font-size: 16px !important;}
  .slider-caption a{display: none;}
  .main-section .cs-section-title h4{width: 80%;}
  .rtl .event-editor .socialmedia .cs-sharepost{top: -245px; left: 5%;}


  .rtl medium-news article figure ~ .news-info{ padding: 30px 0px 0 25px; float: left;}


  .main-section .cs-filterable .cs-views{float:right;}
  .rtl .main-section .cs-filterable .cs-views{float:left;}  
  .ticket-area{float:left;}
  .rtl .ticket-area{float:right;}
  .rtl .right-side .ticket-area{float:left;}
  .rtl blockquote {padding: 0 30px 32px 30px;}
}
@media (max-width: 520px) {
	.fixed {
		background:  none ;
		box-shadow:none;
		margin: 0 0;
		padding: 0 0;
		position: relative;
		top: 0;
		z-index: 9999;
		border:0px;
	}
  .main-section .cs-course-table .content .title-bar > ul > .opener,  .main-section .cs-course-table .content .title-bar > ul > li:first-child,
  .main-section .cs-course-table .content .title-bar > ul > li{width: 100%; padding: 4px 15px;}
  .main-section .cs-course-table .cs-courses.listing-view article figure ~ .cs-text {float: left; padding: 20px 0 0;}
  .slider-caption h1{font-size: 16px !important;}
  .main-section .cs-detail-area figure{width: 100%; margin-bottom: 20px;}
  .main-section .event-editor .cs-sharepost{left: 50%; width: 145px; top: -245px;}
  .rtl .event-editor .socialmedia .cs-sharepost{top: -245px; left: 40%;}
  .main-section .cs-courses.listing-view article figure ~ .cs-text {float: left;padding: 20px 0;}
  .rtl .cs-courses.listing-view.list-2 article figure ~ .cs-text{float: left;padding: 20px 10px;}
  .main-section .cs-team-slider .social-media-blog ul li{margin-bottom: 5px!important;}
  .main-section .social-media-blog ul li{margin-bottom: 5px;}
  div.pp_default .pp_content_container .pp_right{padding-right: 19px !important;}

}
@media (max-width: 320px) {
	
	.fixed {background:  none ;	box-shadow:none;margin: 0 0;padding: 0 0;	position: relative;	top: 0;	z-index: 9999; border:0px;	}
  .main-section .cs-filterable .cs-sort li{margin: 10px 0;}
  .main-section .fc-view-container .fc-view thead th{padding: 8px;}
  .main-section .fc-center > h2{left: -180px; top: 50px; font-size: 16px !important;}
  .main-section .fc-view-container{width: 81%;}
  .rtl .event-editor .socialmedia .cs-sharepost{top: -245px; left: 5%;}
  .main-section .question-mark p::after{right: 0px;}
  .rtl .bottom-footer #backtop{bottom: 288%;}

}
@media (max-width: 360px) {
  .main-section .cs-filterable .cs-views{float:none;}
  .rtl .main-section .cs-filterable .cs-views{float:none;}  
	
	.fixed {
		background:  none ;
		box-shadow:none;
		margin: 0 0;
		padding: 0 0;
		position: relative;
		top: 0;
		z-index: 9999;
		border:0px;
	}
  .main-section .fc-center > h2{left: -180px; top: 50px; font-size: 16px !important;}
  .main-section .fc-view-container{width: 81%;}
  .main-section .fc-view-container .fc-view thead th{padding: 8px;}
  .rtl .event-editor .socialmedia .cs-sharepost{top: -245px; left: 5%;}
  .main-section .question-mark p::after{right: 0px;}

}
/*============  Media 940Px Start ============ */
@media screen and (min-width: 991px) and (max-width: 1054px) {
	
	
	.fixed {
		background:  none ;
		box-shadow:none;
		margin: 0 0;
		padding: 0 0;
		position: relative;
		top: 0;
		z-index: 9999;
		border:0px;
	}
	
	
  .wrapper.wrapper_boxed{width: 100%!important; overflow: hidden;}
  .newsletter-section .newsletter-from input[type="text"]{width: 285px;}
  .newsletter-section .newsletter-from{width: 58%;}
  .main-section .cs-thumb-post{width: 90%;}
  .main-section .cs-thumb-post ul li{margin-right: 20px;}
  .main-section .cs-blog h2{font-size: 20px;}
  .main-section .cs-blog-editor .cs-thumb-post{width: 92%;}
  .cs-tabs .tab-nav li a{padding: 20px 37px;}
  .navigation ul > li > a{padding: 12px 16px;}
  .main-content .fc-view-container{padding-left: 30px;}
  .main-content .fc-center > h2{font-size: 40px;}
  .main-content .fc-event{font-size: 9px;}
  .main-section .cs-tabs.box .nav-tabs li a{font-size: 11px;}
  .call-actions.ac-classic{padding:30px 15px 15px 30px }
  .main-content .content-area .thumb-list li img{width: 72px;}
  .main-content .cs-course-table .content .title-bar > ul > li:first-child{font-size: 14px; width: 58%;}
  .main-content .cs-course-table .content .title-bar > ul > li{width: 18%; padding: 0 12px; font-size: 11px;}
  .main-content .cs-course-table .content .title-bar > ul > li:last-child{width: 4%; padding: 0 5px;}
  .main-section .image-frame.frame-plane section{padding: 20px 15px 28px;}
  .main-section .social-media-blog ul li{margin-bottom: 5px;}
  .main-section .alignnone.size-full.wp-image-345{width: 100%;}
  .main-section .cs-course-table .content .title-bar > ul > li{width: 19%;}
  .main-section .cs-course-table .content .title-bar > ul > li:first-child{width: 56%;}
  .main-section .cs-course-table .content .title-bar > ul > .opener{width: 40px;}
  .rtl .cs-courses.listing-view .course-info li{padding: 0 10px 0 6px;}
  .rtl .listing-view.list-2 article .course-tags{position: relative; }
  .main-section .cs-course-detail .cs-features li{min-width: 222px;}
  .main-section .cs-tabs.box .nav-tabs li a{padding: 12px 25px;}
  .main-section .event-editor .socialmedia ul{left: 10px;}
  .main-section .cs_ads_banner a img{width: 100%;}
}
