.wrapper.wrapper_boxed, .wrapper.wrapper_ {
    width: 100%;
    margin: 0 auto;
}

.flexslider {
    width: calc(100% + 30px);
    margin: 0 -15px;
}

#tira figure > img {
    position: absolute;
    top: -10em;
    width: 75%;
    left: 17%;
}

#tira figure > a > img {
    display: none;
}

#tira + div {
    z-index: 2;
    background: white;
}

@media(min-width: 768px) {
    #noticias .cs-section-title {
        display: none;
    }
}

#noticias .section-fullwidth .element-size-67 {
    padding: 50px;
}

#encabezado .element-size-33 {
    background: #08387f;
}

#encabezado .cs-heading-sec {
    margin: 0;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
}

#encabezado .element-size-33 .inner-sec {
    padding: 0;
    background: #08387f;
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
}

.flexslider {
    display: none;
}

.cs-holder.lightbox.col-md-12 {
    margin: 0;
}

#noticias .list-btn {
    display: none;
}

#noticias .blog-bottom-sec {
    display: none;
}

#noticias .element-size-33 {
    /*padding: 35px 30px;*/
    /*background: #ededed;*/
    width: 25%;
}

#noticias .cs-media figure {
    display: none;
}

#noticias article {
    margin-bottom: 0;
}

.nav-tabs.cs-gallery-nav li.active {
    background: white!important;
    border-bottom: 5px solid #08387f;
}
.nav-tabs.cs-gallery-nav li.active a {
    color: #08387f!important;
    font-weight: bold!important;
}

#botonera figure {
    text-align: center;
    border: 1px solid #c9e7ff;
    padding: 1.6em;
}

#botonera figure img {
    float: none;
    width: auto;
    margin: auto;
}

#botonera .cs-custom-add figcaption {
    position: relative;
    background: transparent;
    padding: 1.1em 0 0.3em;
}

#botonera .cs-custom-add figcaption .download-btn {
    text-transform: uppercase;
    font-size: 1.1em;
    letter-spacing: 0.08em;
    padding: 0.7em 2em;
}

#botonera .cs-custom-add figcaption h4, #botonera .cs-custom-add figcaption p {
    display: none;
}

#backtop {
    display: none;
}

.top-nav ul li.wpml-ls-menu-item a {
    color: #b3daeb;
}

.top-nav ul li.wpml-ls-menu-item.wpml-ls-current-language a {
    color: white;
}

.top-nav ul li.wpml-ls-menu-item a:hover {
    color: white!important;
}

.top-nav ul li a:before {
    display: none;
}

@media (min-width: 1190px) {
    .container {
        width: 1190px;
    }
}


#slider .container {
    width: 100%;
    padding: 0;
}

#slider .metaslider.ms-theme-nivo-light .slider-wrapper {
    padding: 0;
}

.wrapper.wrapper_boxed, .wrapper.wrapper_ {
    border: none;
    box-shadow: none;
}

#main-header {
    background: rgba(0,62,103,0.9);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 11;
}

.wrapper #main-header .container {
    background: transparent!important;
}

#main-header .navigation {
    position: relative;
    background: #003e67!important;
    width: 100%;
}

#main-header .navigation:before {
    background: #003e67;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 100%;
}

#main-header .navigation:after {
    background: #003e67;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
}

#menu-main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu-main-menu > li > a {
    border-right: none;
    text-transform: uppercase;
}

#menu-main-menu li.current_page_item {
    border-top: 2px solid #ee1d23;
}

#slider .metaslider.ms-theme-nivo-light .nivo-caption {
    background: rgba(238,29,35,0.95);
    font-size: 3.3em;
    width: 33.3%;
    left: 33.4%;
    top: 48%;
    bottom: auto;
    text-align: center;
    padding: 1.2em;
    font-weight: 300;
}

#slider .nivo-directionNav {
    display: none;
}

#slider .metaslider.ms-theme-nivo-light .nivo-controlNav {
    text-align: center;
    position: absolute;
    top: 90%;
    width: 100%;
}

#slider .metaslider.ms-theme-nivo-light .nivo-controlNav a {
    background: white;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 4px;
}

#slider .metaslider.ms-theme-nivo-light .nivo-controlNav a.active {
    background: #ee1d23;
}

.cs-campus-info p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 1.2em;
    max-height: 4.5em;
    margin-bottom: 0;
}

.cs-campunews ul li {
    margin-bottom: 1.3em;
}

.cs-campunews ul li .cs-campus-info h6 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-height: 1.2em;
    max-height: 2.1em;
    letter-spacing: 0.03em;
    margin-bottom: 0.85em;
    font-weight: bold!important;
}

.cs-campunews label {
    position: relative;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    font-size: 1.5em;
    letter-spacing: 0.04em;
    margin-bottom: 1.25em;
}

.noticia .fecha {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 4px;
}

.triangulo {
    position: absolute;
    top: 100%;
    left: 10%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
}

.events-grid .fecha {
    position: absolute;
    width: 94px;
    height: 78px;
    background: #017a97;
    color: white;
    font-weight: bold;
    text-align: center;
    top: -2em;
    left: 1.5em;
}

.events-grid .fecha:before {
    top: 0;
    right: 100%;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 2em 1.5em;
    border-color: transparent transparent #031f35 transparent;
}

.events-grid .dia {
    display: block;
    font-weight: bold;
    font-size: 3.2em;
    padding: 0.1em 0.3em;
}

.events-grid .mes {
    display: block;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.1em;
    padding: 0.3em;
    background: #003e67;
    color: white;
}

.cs-events h6 {
    padding: 1em 0 2px;
    clear: both;
    letter-spacing: 0.03em;
    font-weight: bold!important;
}
.cs-events h6 a {
    display: block;
    width: 99.5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-section p {
    line-height: 1.5em!important;
    letter-spacing: 0.01em;
}

.main-section p a {
    color: inherit;
}

footer p, footer p a {
    color: white;
}

footer .social-media ul li a {
    background: transparent!important;
}

footer .bottom-footer {
    padding: 2.3em 0 0.9em;
}

.bottom-footer .container {
    font-size: 1.4em;
    padding: 0 3%;
    padding: 0 2%;
}

.bottom-footer .row {
    margin-bottom: 0.4em;
}

.bottom-footer p {
    letter-spacing: -0.01em;
    font-style: initial;
}

.copyright p {
    text-transform: none;
    font-size: 0.75em;
    padding: 1px 0;
    letter-spacing: 0;
}

.bottom-footer span {
    background: white;
    width: 1.8em;
    height: 1.8em;
    display: inline-block;
    line-height: 1.8em;
    text-align: center;
    border-radius: 50%;
    color: #013f6e;
    margin-right: 2.5%;
}

.bottom-footer .social-media {
    margin-top: 0.4em;
}

.social-media ul li {
    font-size: 1.5em;
}

#marcas {
    padding: 4em 0;
    clear: both;
}

.page-template-default form select, .page-template-default form input[type="text"], .page-template-default form input[type="email"], .page-template-default form input[type="number"], .page-template-default input[type="date"], .page-template-default form textarea {
    width: 97%;
    height: 40px;
    border-radius: 0;
    resize: none;
    padding: 10px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
    border: none;
    color: #aaa;
}

form p {
    width: 50%;
    height: 70px;
}

form p:last-child {
    width: 100%;
}

form h5, form hr {
    clear: both;
}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
    border: none;
}

form div.wpcf7-mail-sent-ok {
    border: none;
    color: #398f14;
    font-size: 1.6em;
}

span.wpcf7-not-valid-tip {
    width: 100%;
    clear: both;
}

.comment-respond, .cs-plain-form .form-style {
    padding-bottom: 0;
}

.boton {
    position: absolute;
    top: 115px;
    right: 5%;
    z-index: 2;
}

.position-relative {
    position: relative;
}

body.page-template-default {
    padding-top: 120px;
}

body.page-template-default.home {
    padding-top: 0;
}

.events-grid figure {
    height: 25em;
}

.events-grid figure a {
    display: block;
    height: 100%;
    width: 100%;
}

.events-grid figure img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.events-grid figure figcaption {
    top: 0;
}

.rich-text-editor {
    padding: 3em 15px 7em;
}